
<p style="color: green"><%= notice %></p>

<% content_for :title, "Workspaces" %>

<h1>Workspaces</h1>
<%= form_with url: search_workspaces_path, method: :post do |form|%>
<%= form.search_field :title_search, oninput: "this.form.requestSubmit()"%>
<% end %>

<div id="search_results">
  Search Results 
</div>

<%= link_to "New workspace", new_workspace_path %>
<div id="workspaces">
  <% @workspaces.each do |workspace| %>
   
    <p>
      <%= link_to workspace.subjects, workspace_path(workspace) %>
    </p>
  <% end %>
</div>
